<% provide(:title, t("static.help.title")) %>
<h1><%= t "static.help.title"%></h1>
<p>
 <%= t "static.help.text.p1"%>
 <%= link_to t("static.help.text.contact"), contact_path%>
</p>
<p>
	<%= t "static.help.text.links.title"%>
	<ul>
		<li><a href="http://www.sac-cas.ch"><%= t "static.help.text.links.cas"%></a></li>
		<li><a href="http://www.cas-laneuveville.ch"><%= t "static.help.text.links.cas_n"%></a></li>
	</ul>
</p>