<% provide(:title, t("sessions.new.title")) %>
<h1><%= t("sessions.new.title")%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, t("sessions.new.form.email") %>
      <%= f.text_field :email %>

      <%= f.label :password, t("sessions.new.form.password") %>
      <%= f.password_field :password %>

      <%= f.submit t("sessions.new.title"), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= t("sessions.new.new_user")%><%= link_to t("sessions.new.sign_up"), signup_path %></p>
  </div>
</div>