<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <br/>
      <p> </p>
      <h5><%= @user.email if @user.has_role? "admin" or @user.has_role? "organizator"%></h5>
      <%if !@user.contact.nil?%>
      <h5><%= @user.contact.fName%> <%= @user.contact.lName%></h5>
      <h5><%= t "users.show.fixe"%> <%= @user.contact.fixe || t("no_one")%></h5>
      <h5><%= t "users.show.natel"%> <%= @user.contact.natel || t("no_one")%></h5>
      <%end%>
    </section>
  </aside>
  <section class="span8">
  	<h3><%= t "users.show.event.text", :event => pluralize(@user.events.size, t("users.show.event.name"))%></h3>
  	<ul>
  		<% @user.events.each do |event|%>
  			<li><%= link_to event.name, event%></li>
  		<%end%>
  	</ul>
  </section>
</div>
