<tr>
	<td><%= link_to event.name, event%></td>
	<td><%= l event.starting_at, :format => :short %> - <%= l event.ending_at, :format => :short %></td>
	<td><%= event.place%></td>
	<td><%= event.name%></td>
	<td><%= event.responsable%></td>
</tr>