<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @event do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :name, label: t("events.shared.form.name") %>

      <%= f.input :description, label: t("events.shared.form.description"), input_html: {rows: "3" } %>

      <%= f.input :starting_at, label: t("events.shared.form.starting_at"), input_html: {class: "input-mini" }%>

      <%= f.input :ending_at, label: t("events.shared.form.ending_at"), input_html: {class: "input-mini" } %>

      <%= f.input :place, label: t("events.shared.form.place") %>

      <%= f.input :responsable, label: t("events.shared.form.responsable") %>

      <%= f.input :price, label: t("events.shared.form.price"), :wrapper => :append do %>
      <%= f.number_field :price%><span class="add-on">CHF</span>
      <%end%>

      <%= f.input :delay%>

      <%= f.association :materiaux, as: :check_boxes %>

      <%= f.submit yield(:submit), class: "btn btn-large btn-primary" %>
    <% end %>