<div class="btn-toolbar">
	<div class="btn-group">
	    <%= if can? :create, Event
		 link_to t("events.index.nav.new"), new_event_path, :class => "btn btn-success"
	 end%>
	    <%= if can? :update, Event
		link_to t("events.show.update"), edit_event_path(@event), :class => "btn btn-info"
	end%>
	    <%= if can? :destroy, Event
		link_to t("events.show.destroy"), @event, :method => :delete, :confirm => t(:confirm), :class => "btn btn-danger"
	end%>
	  </div>
	  <div class="btn-group">
	  	<%= link_to t("events.index.nav.year"), event_prog_path(@event.starting_at.year), :class => "btn btn-primary" %>
	  	<%= link_to t("events.index.nav.old_event"), @old_event, :class => "btn btn-info #{@disable_o}" %>
	  	<%= link_to t("events.index.nav.next_event"), @next_event, :class => "btn btn-info #{@disable_n}" %>
	</div>
</div>
  <p></p>
<div class="well">
	<h3><%= @event.name%>, <%= t :du%> <%= print_dates(@event)%></h3>
	<p><%= markdown @event.description%></p>
    <p><strong><%= t('events.show.delay') %></strong><%= l @event.delay, format: :long %></p>
	<p><strong><%= t "events.show.price"%></strong><%= @event.price%>.-</p>
	<p><strong><%= t "events.show.place"%></strong><%= @event.place%></p>
	<p><strong><%= t "events.show.responsable"%></strong><%= print_responsable @event%></p>
	<p><strong><%= t "events.show.material"%></strong>
		<% if @event.materiaux.empty? %>
			<%= t "events.show.no_material"%>
		<%else%>
		<ul><% @event.materiaux.each do |material|%>
			<li><%= material.name%></li>
			<% end %>
		</ul>
		<% end %>
	</p>

	<% if  @event.users.empty?%>
		<p><%= t "events.show.no_user"%></p>
	<% else %>
	<!-- Liste des participants -->
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        <%= t "events.show.list_users"%>
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse">
	     	<div class="accordion-inner">
	     		<ul>
	        	<% @event.users.each do |user| %>
	        	<li><%= link_to user.name, user%></li>
	        	<% end %>
	    		</ul>
	      	</div>
	    </div>
	  </div>
	</div>
      <!-- Liste d'email des participants -->
      <div class="accordion" id="accordion3">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <%= t "events.show.list_users_email"%>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                <% @event.users.each do |user| %>
                  <%= user.display_name %><<%= mail_to user.email%>>,
                <% end %>
            </div>
          </div>
        </div>
      </div>
	<% end%>
	<%if can? :signin, Event%>
	<% if  @event.signUp?(current_user).nil?%>
		<%= link_to t("events.show.signup"), event_signup_path(@event), :class => "btn btn-success"%>
	<%else%>
		<%= link_to t("events.show.signout"), event_signout_path(@event), :class => "btn btn-info"%>
	<% end %>
	<%end%>
</div>
<h3>Commentaires</h3>
<ul>
  <% @event.comments.recent.all.each do |a_comment| %>
    <div>
      <span class="label label-inverse"><%=link_to a_comment.user.display_name, a_comment.user%></span>
      <h5><%=  a_comment.title%></h5>
      <p>
        <%= a_comment.comment %>
      </p>
      <hr/>
    </div>
  <% end %>
</ul>
<%= render 'events/form_comment' %>