

      <%= link_to t("footer.small.link")%>
    <%= t "footer.small.by", author: "Numa de Montmollin"%>

<ul class="nav nav-pills pull-right">
      <li><%= link_to t("footer.nav.contact"), contact_path %></li>
      <li><%= link_to t("header.help"), help_path%></li>
      <li><a href="http://www.sac-cas.ch"> <%= t "footer.nav.cas"%><a></li>
</ul>
<%= link_to t("footer.small.link"), about_path%>
<%= t "footer.small.by", author: "Numa de Montmollin"%>.
L'Oj fait partie de la <a href="http://www.cas-laneuveville.ch">Section de La Neuveville</a>